<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
</head>
<body>
<div th:insert="~{header :: nav}"></div>
<div style="margin: 50px;">
    <div class="layui-row">
        <div class="layui-col-md8 layui-col-md-offset2" style="text-align: center; font-size:18;">
            电商订单实时查询系统
        </div>
    </div>

</div>
<hr>
<div th:insert="~{foot :: foot}"></div>
</body>
</html>